*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;

}
header{
    background: linear-gradient(134deg,rgb(64, 64, 235) 0%, rgb(64, 22, 112) 100%);
    color: #fff;
    padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1200px;
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition:opacity 0.3s;
}
nav a:hover{
    opacity: 0.7;
}
.hero{
    background: linear-gradient(134deg,rgb(72, 72, 255) 0%, rgb(64, 30, 145) 100%);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero-content h2{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
}
.hero-content p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.productos-section{
    padding: 80px 20px;
    background: #f4f4f4;
    color: #333;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.section-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.product-grid{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.product-card{
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    color: #333;
}
.product-card:hover{
    transform: translateY(-10px);
}