*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;

}
header{
    background: linear-gradient(134deg,rgb(64, 64, 235) 0%, rgb(64, 22, 112) 100%);
    color: #fff;
    padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1200px;
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition:opacity 0.3s;
}
nav a:hover{
    opacity: 0.7;
}
.hero{
    background: linear-gradient(134deg,rgb(72, 72, 255) 0%, rgb(64, 30, 145) 100%);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}